
.Square {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.Square.top {
    border-bottom: 1px solid black;
}

.Square.left {
    border-right: 1px solid black;
}

.Square.bottom {
    border-top: 1px solid black;
}

.Square.right {
    border-left: 1px solid black;
}

.Square > p {
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}