.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: gray;
}

.Success:not(:disabled) {
    color: #5C9210;
}

.Success:hover:not(:disabled) {
    color: orange;
}

.Danger:not(:disabled) {
    color: #944317;
}

.Danger:hover:not(:disabled) {
    color: red;
}